<div class="MainContainer">
  <p>list works!</p>
  <!-- <div class="new-popup" [ngClass]="{ active: isNewPopup }">
    <div class="new-popup-container">
      <button class="open-popup-button" (click)="openNewPopUp()">
        Template-Driven-Form
      </button>
    </div>
  </div> -->

  <br /><br />
  <!-- <div class="header">
    <header>Search by</header>
    <input type="text" placeholder="Name or Number" name="search" />
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div> -->

  <div class="cards-container">
    <app-cards
      *ngFor="let pokemon of getPokemonForPage(currentPage)"
      [hero]="pokemon"
      [backgroundColor]="pokemon.backgroundColor"
      [pokemonDetails]="pokemonDetails"
      (openPopup)="openPopup($event)"
    ></app-cards>
    <app-popup
      [fetchEvolutionData]="data"
      [selectedPokemon]="selectedPokemon"
      (closePopup)="closePopup()"
      [isPopupOpen]="isPopupOpen"
    ></app-popup>
    <app-template></app-template>
  </div>

  <div>
    <nav class="Page_navigation_example">
      <button
        class="page-link"
        href="#"
        (click)="paginationFunction(0)"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>

      &nbsp;&nbsp;

      <a class="page-link" href="#">1</a>

      &nbsp;&nbsp;

      <button
        class="page-link"
        href="#"
        (click)="paginationFunction(1)"
        [disabled]="currentPage === totalPages()"
      >
        Next
      </button>
    </nav>
  </div>

  <br /><br />
  <div class="forms">
    <div class="template-form">
      Template-Driven-Form
      <form #basicForm="ngForm" (ngSubmit)="getTemplateData(basicForm.value)">
        <input type="text" ngModel placeholder="Enter Name" name="name" />
        <br /><br />
        <input type="text" ngModel placeholder="Enter paragraph" name="para" />
        <br /><br />
        <button>Submit</button>
      </form>
    </div>
    <div class="reactive-form">
      Reactive-form
      <form [formGroup]="entryForm" (ngSubmit)="entryData()">
        <input
          type="text"
          placeholder="Enter Name"
          name="user"
          formControlName="user"
        />
        <br /><br />
        <!-- <input
          type="text"
          placeholder="Enter id"
          name="identity"
          formControlName="identity"
        />
        <br /><br /> -->
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>
