.MainContainer
{
    background-color:#DEEDED;
}
.templateForm
{
    margin-left: 35px;
}
.cards-container
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 10px;
}
 .header
{
    /* display: flex;
    align-items:start;
    justify-content: start;
    margin-top: 20px;  */
    margin-left: 20px;
}  

 .header header
{
    margin-left: 20px;
    
} 

.header input[type=text]
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.header button
{
    padding: 10px;
    
    /* background-color: #007bff;
    color: #fff;
    border:none;
    border-radius: 0 5px  5px 0;
    cursor:pointer; */
    
}

.Page_navigation_example
{
  margin: 10px;
  display: flex;
  justify-content: center;
}

  .forms
  {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
  }

  .template-form
  {
    border: 1px solid black;
    margin: 10px;
  }

  .reactive-form
  {
    border: 1px solid black;
    margin: 10px;
  }
  .charactersTemplate
  {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2px;
    padding: 2px;
  }

  .statsTemplate
  {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2px;
    padding: 2px;
  }
  .charactersReactive
  {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2px;
    padding: 2px;
  }
  .statsReactive
  {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2px;
    padding: 2px;
  }
  