<div class="MainContainer">
  <p>list works!</p>

  <div class="header">
    <header>Search by</header>
    <input type="text" placeholder="Name or Number" name="search" />
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <div class="cards-container">
    <app-cards
      *ngFor="let pokemon of getPokemonForPage(currentPage)"
      [hero]="pokemon"
      [backgroundColor]="pokemon.backgroundColor"
      [pokemonDetails]="pokemonDetails"
      (openPopup)="openPopup($event)"
    ></app-cards>
    <app-popup
      [fetchEvolutionData]="data"
      [selectedPokemon]="selectedPokemon"
      (closePopup)="closePopup()"
      [isPopupOpen]="isPopupOpen"
    ></app-popup>
  </div>

  <div>
    <nav class="Page_navigation_example">
      <button
        class="page-link"
        href="#"
        (click)="paginationFunction(0)"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <!-- </li> -->
      &nbsp;&nbsp;

      <a class="page-link" href="#">1</a>
      <!-- </li> -->
      &nbsp;&nbsp;

      <button
        class="page-link"
        href="#"
        (click)="paginationFunction(1)"
        [disabled]="currentPage === totalPages()"
      >
        Next
      </button>
    </nav>
  </div>
</div>

<!--*ngIf="isPopupOpen"
-->
