<!-- <p>pagination works!</p>
<div>
  <nav class="Page_navigation_example">
    <button
      class="page-link"
      href="#"
      (click)="mainPaginationFun(0)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    
    &nbsp;&nbsp;

    <a class="page-link" href="#">1</a>
   
    &nbsp;&nbsp;

    <button
      class="page-link"
      href="#"
      (click)="mainPaginationFun(1)"
      [disabled]="currentPage === totalCount"
    >
      Next
    </button>
  </nav>
</div> -->
